@import "./../../../../assets/sass/variables.scss";

.faq--wrapper {
  padding: 0 30px 0;
  min-height: calc(100vh - 80px);
  @media (max-width: 767px) {
    padding: 20px 30px 0;
    min-height: auto;
  }
  .section {
    &--container {
      max-width: 850px;
      margin: 150px auto 0;
      @media (max-width: 767px) {
        margin: 0 auto;
      }
    }

    .primary-sub-heading {
      font-weight: 400;
      font-size: 1.5rem;
      line-height: 1.5;
      letter-spacing: 0.00938em;
      padding-left: 6px;
      -webkit-font-smoothing: antialiased;
      color: #333;
      margin: 0 0 20px;
      @media (max-width: 767px) {
        font-size: 1.2rem;
        line-height: 1.1;
      }
    }

    .MuiExpansionPanelSummary-root {
      min-height: 70px;
      @media (max-width: 767px) {
        min-height: 50px;
      }
    }

    .MuiExpansionPanelSummary-root.Mui-expanded {
      background: rgba(33, 150, 243, 0.06);
    }
  }
}
