@import "./../../../../assets/sass/variables.scss";

.contact--wrapper {
  padding: 0 30px 0;
  min-height: calc(100vh - 80px);
  display: flex;
  justify-content: center;
  flex-direction: column;

  @media (max-width: 767px) {
    padding: 0 30px;
    min-height: auto;
  }

  .section {
    &--container {
      max-width: 1024px;
      margin: 40px auto 0;
      @media (max-width: 767px) {
        margin: 0 auto 0;
      }
    }
    &--title {
      font-weight: 400;
      font-size: 1.5rem;
      line-height: 1.5;
      letter-spacing: 0.00938em;
      padding-left: 6px;
      -webkit-font-smoothing: antialiased;
      color: #333;
      margin: 0 0 20px;
      @media (max-width: 767px) {
        font-size: 1.3rem;
      }
    }
  }

  .primary-heading {
    color: $primary-color;
    margin: 0 0 10px;
    text-align: center;
    font-size: 3rem;
    line-height: 1.167;
    letter-spacing: 0em;
    font-weight: 300;
    text-align: center;
    margin-top: 60px;
    @media (max-width: 767px) {
      font-size: 1.8rem;
    }

    &.small-primary {
      font-size: 1.8rem;
      margin: 30px 0 20px;
      @media (max-width: 767px) {
        font-size: 1.2rem;
      }
    }
  }

  .primary-sub-heading {
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.5;
    letter-spacing: 0.00938em;
    text-align: center;
    -webkit-font-smoothing: antialiased;
    color: #6a6a6a;
    margin: 0 0 10px;
    @media (max-width: 767px) {
      font-size: 1rem;
    }
  }

  .primary-btn {
    background: $primary-color;
    box-shadow: none;
    padding: 10px 30px;
    max-width: 100%;
    display: block;
    font-family: $primary-font;
    color: #fff;
    text-transform: capitalize;
    font-size: 1rem;
    max-width: 210px;

    &:hover {
      box-shadow: none;
      background: $secondary-color;
    }
  }

  .boxes {
    display: flex;
    @media (max-width: 767px) {
      flex-direction: column;
    }
    .box {
      width: 50%;
      @media (max-width: 767px) {
        width: 100%;
      }
    }

    .box-1 {
      padding-right: 40px;
      @media (max-width: 767px) {
        padding-right: 0;
      }
    }

    .block {
      display: flex;
      flex-direction: column;
      margin-bottom: 40px;
      background: #efefef;
      padding: 30px;
      border-radius: 4px;

      &--title {
        font-weight: 400;
        font-size: 1.2rem;
        line-height: 1.5;
        letter-spacing: 0.00938em;
        margin: 0 0 10px;
        @media (max-width: 767px) {
          font-size: 1rem;
        }
      }

      &--text {
        color: #6a6a6a;
      }
    }
  }
}
