@import "./variables.scss";
@import "./mixins.scss";

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap");

// Reset
html,
body {
  padding: 0 0 20px;
  margin: 0;
  overflow-x: hidden;
  font-family: $primary-font;
  //height: 100vh;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffffff+1,1e8ce3+100&0+78,0.24+100 */
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffffff+0,2196f3+100&0+72,0.24+100 */
  background: -moz-linear-gradient(
    top,
    rgba(255, 255, 255, 0) 0%,
    rgba(95, 179, 246, 0) 72%,
    rgba(33, 150, 243, 0.24) 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    top,
    rgba(255, 255, 255, 0) 0%,
    rgba(95, 179, 246, 0) 72%,
    rgba(33, 150, 243, 0.24) 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0) 0%,
    rgba(95, 179, 246, 0) 72%,
    rgba(33, 150, 243, 0.24) 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#3d2196f3',GradientType=0 ); /* IE6-9 */

  background-repeat: no-repeat;
  background-position: bottom;

  @media (min-width: 768px) {
    padding: 0;
  }
}

#root {
  @media (min-width: 768px) {
    //height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

// header
.AppBar {
  position: fixed;
  overflow: visible;
  background: #fff !important;
  z-index: 9999;
  width: 100%;
  transition: all ease-out 0.25s;
  display: flex;
  justify-content: space-between;
  height: 88px;
  border: 1px solid #eee;
  //box-shadow: 0 5px 30px rgba(0, 0, 0, 0.02), 0 20px 30px rgba(0, 0, 0, 0.02) !important;
  @media (max-width: 767px) {
    height: 55px;
    border: 0;

    .toolbar {
      border: 1px solid #eee;
    }
  }

  @media (min-width: 768px) {
    position: absolute !important;
    top: 0;
    left: 0;
  }

  .toolbar {
    max-width: 1028px;
    margin: 0 auto;
    display: flex;
    width: 100%;
  }

  .MuiToolbar-root {
    min-height: 88px !important;
    @media (max-width: 767px) {
      min-height: 55px !important;
    }
  }

  .logo {
    color: $primary-color;
    font-weight: 900;
    font-size: 26px;
  }

  .header-progress {
    @media (max-width: 767px) {
      display: none;
    }
  }

  .secureText {
    display: none;
    @media (max-width: 767px) {
      display: block;
    }
  }

  .menu--items {
    padding: 0 30px;
    @media (max-width: 767px) {
      display: none;
    }
    a {
      text-decoration: none;
      padding: 0 10px;
      color: #6a6a6a;
      transition: 0.3s;
      &:hover,
      &.active {
        color: $primary-color;
      }
    }
  }

  .hamburger-icon {
    font-size: 30px;
    color: $primary-color;
    cursor: pointer;
    display: none;
    position: relative;
    right: 40px;
    @media (max-width: 767px) {
      display: block;
    }
  }
}

// mobile side menu
.mobile-side-menu {
  position: fixed;
  width: 225px;
  height: 100%;
  background: $primary-color;
  z-index: 999;
  padding: 60px 0 0;
  transition: 0.3s;
  transform: translate3d(-100%, 0, 0);
  &.open {
    transform: translate3d(0, 0, 0);
  }
  .menu--items {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;

    a {
      padding: 15px 30px;
      text-decoration: none;
      line-height: 1.2;
      color: #fff;
      font-weight: 300;
      border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    }
  }
}

//footer
.footer {
  //position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  height: 80px;
  align-items: center;
  @media (max-width: 767px) {
    flex-wrap: wrap;
    align-items: center;
    height: auto;
    position: relative;
    margin-top: 100px;
  }

  li {
    list-style-type: none;
    padding: 0 10px;
    color: #6a6a6a;
    font-size: 13px;
    @media (max-width: 767px) {
      padding: 4px 10px;
    }

    &.hasLink {
      cursor: pointer;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

// flow
.section-flow {
  @media (min-width: 768px) {
    height: calc(100vh - 80px);
    display: flex !important;
    align-items: center;
    justify-content: center;
  }
  & > div {
    @media (max-width: 767px) {
      margin-top: 25px;
    }
  }

  .primary-heading {
    color: $primary-color;
    margin-bottom: 10px;
    text-align: center;
    max-width: 800px;
    font-size: 3rem;
    line-height: 1.167;
    letter-spacing: 0em;
    font-weight: 300;
    @media (max-width: 767px) {
      font-size: 1.8rem;
    }
  }
  .primary-sub-heading {
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.5;
    letter-spacing: 0.00938em;
    text-align: center;
    -webkit-font-smoothing: antialiased;
    color: #6a6a6a;
    @media (max-width: 767px) {
      font-size: 1rem;
    }
  }

  form {
    max-width: 350px;
  }

  input,
  select {
    -webkit-appearance: none;
    margin: 0;
    font-family: $primary-font;
    font-size: 1rem !important;
    font-weight: 400;
    color: #6a6a6a !important;
  }

  .primary-btn {
    background: $primary-color;
    box-shadow: none;
    padding: 12px 0;
    max-width: 100%;
    margin: 10px auto 0;
    display: block;
    float: none;
    font-family: $primary-font;
    color: #fff;
    text-transform: capitalize;
    font-size: 1rem;
    @media (max-width: 767px) {
      max-width: 400px;
    }

    &:hover {
      box-shadow: none;
      background: $secondary-color;
    }
  }

  .address {
    color: #6a6a6a;
    font-size: 14px;
    text-align: center;
    display: flex;
    justify-content: center;
    .edit {
      text-decoration: none;
      color: $primary-color;
      margin-left: 4px;
    }
  }
}

// powerbill
.section-powerbill {
  @media (min-width: 768px) {
    height: calc(100vh - 80px);
    display: flex !important;
    align-items: center;
    justify-content: center;
  }
  & > div {
    @media (max-width: 767px) {
      margin-top: 25px;
    }
  }
  .primary-heading {
    max-width: 800px;
    color: $primary-color;
    margin-bottom: 15px;
    text-align: center;
    font-size: 3rem;
    font-weight: 300;
    line-height: 1.167;
    letter-spacing: 0em;
    @media (max-width: 767px) {
      font-size: 1.8rem;
    }
  }

  input {
    color: #848484;
  }

  .cost {
    font-size: 30px;
    margin-bottom: 25px;
    color: #6a6a6a;
    letter-spacing: 1px;
  }

  .text {
    color: #a6a6a6;
    font-size: 17px;
    margin: 10px 0 10px;
  }

  .primary-btn {
    background: $primary-color;
    box-shadow: none;
    padding: 12px 0;
    max-width: 320px;
    margin: 0 auto;
    display: block;
    float: none;
    font-family: $primary-font;
    font-size: 15px;
    text-transform: capitalize;
    color: #fff;
    @media (max-width: 767px) {
      max-width: 400px;
    }
    &:hover {
      box-shadow: none;
      background: $secondary-color;
    }
  }
}

.section-result {
  .primary-heading {
    color: $primary-color;
    font-weight: 900;
    font-size: calc(30px + 10 * ((100vw - 500px) / 1100));
    margin-bottom: 10px;
    text-align: center;
    max-width: 600px;
    line-height: 40px;
    @media (max-width: 767px) {
      font-size: 1.8rem;
    }
  }
  div {
    font-size: 18px;
    color: $primary-color;

    span {
      color: #6a6a6a;
    }
  }
}

//autocomplete
.suggestions-container {
  // border: 1px solid #e6e6e6;
  border: 2px solid $primary-color;
  border-radius: 8px;
  padding: 10px;
}

.MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline {
  border-color: #2196f3 !important;
}

.suggestion {
  cursor: pointer;
  color: #a6a6a6;
  font-size: 15px;
  display: flex;
  align-items: flex-start;
  margin-bottom: 4px;
  &:hover {
    color: $primary-color;
  }
}

//home owners
.section-home-owners {
  .primary-heading {
    margin-bottom: 40px;
  }

  .home-owners-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .box--wrapper {
    display: flex;
    @media (max-width: 767px) {
      flex-direction: column;
      width: 100%;
    }
  }

  .box {
    width: 190px;
    height: 190px;
    margin: 0 5px;
    border: 2px solid #c4c4c4;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    @media (max-width: 767px) {
      flex-direction: column;
      width: 100%;
      height: auto;
      margin: 5px 0;
      flex-direction: row;
      justify-content: space-between;
      padding: 15px 20px;
      border: 1px solid #c4c4c4;
      & > span {
        display: flex;
      }
    }

    @media (min-width: 768px) {
      &:hover {
        transform: translate(0px, -5%);
        box-shadow: rgba(0, 0, 0, 0.15) 2px 2px 5px 0px;
        border-color: #2196f3;
      }
    }

    .text {
      display: block;
      text-align: center;
      font-size: 1rem;
      color: #6a6a6a;
      font-weight: 400;
      line-height: 1.5;
      letter-spacing: 0.00938em;
      @media (max-width: 767px) {
        margin-left: 5px;
      }
    }
    .icon {
      font-size: 90px;
    }
    svg.mobile-icon {
      fill: #6a6a6a;
    }
  }
}

//providers
.section-providers {
  .list {
    max-width: 400px;
    margin: 0 auto;
    width: 100%;
    display: block;
  }

  .MuiSvgIcon-root {
    font-size: 1.2rem;
  }

  input {
    color: #848484;
  }

  .primary-btn {
    max-width: 400px;
  }

  li.list-button {
    list-style-type: none;
    border: 1px solid #c4c4c4;
    border-radius: 5px;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 15px 10px;
    cursor: pointer;
    transition: 0.3s;

    span {
      //color: #a6a6a6;
      font-size: 1rem;
      padding-left: 3px;
    }

    @media (min-width: 768px) {
      &:hover {
        transform: translate(0px, -5%);
        box-shadow: rgba(0, 0, 0, 0.15) 2px 2px 5px 0px;
        border-color: #000;
      }
    }

    &:hover {
      border-color: $primary-color;
    }

    .primary-btn {
      max-width: 100%;
      @media (max-width: 767px) {
        max-width: 400px;
      }
    }
  }
  div[aria-busy="true"] {
    text-align: center;
  }

  .MuiOutlinedInput-root.isCurrent .MuiOutlinedInput-notchedOutline {
    border-color: #2196f3 !important;
  }
}

//roofshade
.section-roofshade {
  .primary-heading {
    margin-bottom: 40px;
  }

  .roofshade-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .box--wrapper {
    display: flex;
    @media (max-width: 767px) {
      flex-direction: column;
      width: 100%;
    }
  }

  .box {
    width: 190px;
    height: 190px;
    margin: 0 5px;
    border: 2px solid #c4c4c4;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    @media (max-width: 767px) {
      flex-direction: column;
      width: 100%;
      height: auto;
      margin: 5px 0;
      flex-direction: row;
      justify-content: space-between;
      padding: 6px 20px;
      min-height: 58.8px;
      border: 1px solid #c4c4c4;
      & > span {
        display: flex;
        align-items: center;
      }
    }

    @media (min-width: 768px) {
      &:hover {
        transform: translate(0px, -5%);
        box-shadow: rgba(0, 0, 0, 0.15) 2px 2px 5px 0px;
        border-color: #2196f3;
      }
    }

    .text {
      display: block;
      text-align: center;
      font-size: 1rem;
      color: #6a6a6a;
      font-weight: 400;
      line-height: 1.5;
      letter-spacing: 0.00938em;
      @media (max-width: 767px) {
        margin-left: 10px;
      }
    }

    img.home {
      width: 100%;
      max-width: 80px;
      margin: 0 auto;
      float: none;
      @media (max-width: 767px) {
        max-width: 40px;
      }
      &.home-2,
      &.home-3 {
        @media (min-width: 768px) {
          position: relative;
          left: 10px;
        }
      }
    }

    svg.mobile-icon {
      fill: #6a6a6a;
    }
  }
}

//section phone
.section-phone {
  .h6 {
    max-width: 650px;
    margin-top: 40px;
    text-align: justify;
    color: #a6a6a6;
    font-weight: 300;
  }
}

//modal
.MuiDialog-paperWidthSm {
  max-width: 800px !important;
}

div.contact-modal-dialog {
  .MuiDialog-paperWidthSm {
    max-width: 400px !important;
  }
  .primary-btn {
    background: $primary-color;
    box-shadow: none;
    padding: 12px 0;
    max-width: 100%;
    display: block;
    float: none;
    font-family: $primary-font;
    color: #fff;
    text-transform: capitalize;
    font-size: 1rem;
    @media (max-width: 767px) {
      max-width: 400px;
    }

    &:hover {
      box-shadow: none;
      background: $secondary-color;
    }
  }
}

.MuiDialogTitle-root {
  border-bottom: 1px solid #e0e0e0;
}

.modalTitle h2 {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  cursor: pointer;
  span {
    color: $primary-color;
    font-family: $primary-font;
    font-weight: 300;
  }
}
