@import "./variables.scss";
@import "./mixins.scss";

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;700;800;900&display=swap");

// Reset
html,
body {
  padding: 0 0 40px;
  margin: 0;
  overflow-x: hidden;
  font-family: $primary-font;
  background: #fff !important;
}

// header
.AppBar {
  position: fixed;
  overflow: visible;
  background: #fff !important;
  z-index: 9999;
  width: 100%;
  transition: all ease-out 0.25s;
  display: flex;
  justify-content: space-between;
  height: 82px;
  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.02), 0 20px 30px rgba(0, 0, 0, 0.02) !important;

  .MuiToolbar-root {
    min-height: 82px !important;
  }

  .logo {
    color: #333;
  }

  &__btn {
    background: $primary-color;
    padding: 10px 20px;
    color: #fff;
    text-decoration: none;
    border-radius: 50px;
  }
}

// flow
.section-flow {
  .primary-heading {
    color: $primary-color;
    font-weight: 900;
    font-size: calc(30px + 10 * ((100vw - 500px) / 1100));
    margin-bottom: 10px;
    text-align: center;
  }
  .primary-sub-heading {
    line-height: 1.4em;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    text-align: center;
    -webkit-font-smoothing: antialiased;
  }

  form {
    max-width: 300px;
  }

  input {
    -webkit-appearance: none;
    margin: 0;
  }

  .primary-btn {
    background: $primary-color;
    border-radius: 50px;
    box-shadow: none;
    padding: 12px 0;
    max-width: 200px;
    margin: 5px auto 0;
    display: block;
    float: none;
    font-family: $primary-font;
    font-weight: 300;
    font-size: 17px;
    &:hover {
      box-shadow: none;
      background: $secondary-color;
    }
  }
}

// powerbill
.section-powerbill {
  .primary-heading {
    color: $primary-color;
    font-weight: 900;
    font-size: calc(30px + 10 * ((100vw - 500px) / 1100));
    margin-bottom: 50px;
    text-align: center;
  }

  .primary-btn {
    background: $primary-color;
    border-radius: 50px;
    box-shadow: none;
    padding: 12px 0;
    max-width: 200px;
    margin: 20px auto 0;
    display: block;
    float: none;
    font-family: $primary-font;
    font-weight: 300;
    font-size: 17px;
    &:hover {
      box-shadow: none;
      background: $secondary-color;
    }
  }
}
