@import "./variables.scss";
@import "./mixins.scss";

@font-face {
  font-family: "SF Pro Display";
  src: url("//db.onlinewebfonts.com/t/3cff9206b4c8d578245ef1aaeeaf9e84.eot");
  src: url("//db.onlinewebfonts.com/t/3cff9206b4c8d578245ef1aaeeaf9e84.eot?#iefix")
      format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/3cff9206b4c8d578245ef1aaeeaf9e84.woff2")
      format("woff2"),
    url("//db.onlinewebfonts.com/t/3cff9206b4c8d578245ef1aaeeaf9e84.woff")
      format("woff"),
    url("//db.onlinewebfonts.com/t/3cff9206b4c8d578245ef1aaeeaf9e84.ttf")
      format("truetype"),
    url("//db.onlinewebfonts.com/t/3cff9206b4c8d578245ef1aaeeaf9e84.svg#SF Pro Display")
      format("svg");
}

@font-face {
  font-family: "SF Pro Text";
  src: url("//db.onlinewebfonts.com/t/236987803794b916d95e7fd41ed4fee0.eot");
  src: url("//db.onlinewebfonts.com/t/236987803794b916d95e7fd41ed4fee0.eot?#iefix")
      format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/236987803794b916d95e7fd41ed4fee0.woff2")
      format("woff2"),
    url("//db.onlinewebfonts.com/t/236987803794b916d95e7fd41ed4fee0.woff")
      format("woff"),
    url("//db.onlinewebfonts.com/t/236987803794b916d95e7fd41ed4fee0.ttf")
      format("truetype"),
    url("//db.onlinewebfonts.com/t/236987803794b916d95e7fd41ed4fee0.svg#SF Pro Text")
      format("svg");
}

// Reset
html,
body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  font-family: $primary-font;
  font-size: 14px;
  background: -moz-linear-gradient(
    top,
    rgba(255, 255, 255, 0) 0%,
    rgba(95, 179, 246, 0) 72%,
    rgba(33, 150, 243, 0.24) 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    top,
    rgba(255, 255, 255, 0) 0%,
    rgba(95, 179, 246, 0) 72%,
    rgba(33, 150, 243, 0.24) 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0) 0%,
    rgba(95, 179, 246, 0) 72%,
    rgba(33, 150, 243, 0.24) 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#3d2196f3',GradientType=0 ); /* IE6-9 */

  background-repeat: no-repeat;
  background-position: bottom;

  @media (min-width: 768px) {
    padding: 0;
  }

  &.isFunnel {
    background: #fff;
  }
}

#root {
  @media (min-width: 768px) {
    //height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  @media (max-width: 767px) {
    min-height: 100vh;
    position: relative;
  }
}

// header
.AppBar {
  position: fixed;
  overflow: visible;
  background: #fff !important;
  z-index: 9999;
  width: 100%;
  transition: all ease-out 0.25s;
  display: flex;
  justify-content: space-between;
  height: 88px;
  border: 1px solid #eee;
  //box-shadow: 0 5px 30px rgba(0, 0, 0, 0.02), 0 20px 30px rgba(0, 0, 0, 0.02) !important;
  @media (max-width: 767px) {
    height: 55px;
    border: 0;
    position: fixed !important;
    .toolbar {
      box-shadow: 0 14px 20px rgba(0, 0, 0, 0.01),
        0 10px 10px rgba(0, 0, 0, 0.01);
    }
  }

  @media (min-width: 768px) {
    position: absolute !important;
    top: 0;
    left: 0;
  }

  .toolbar {
    max-width: 1028px;
    margin: 0 auto;
    display: flex;
    width: 100%;
  }

  .MuiToolbar-root {
    min-height: 88px !important;
    @media (max-width: 767px) {
      min-height: 55px !important;
    }
  }

  .logo {
    color: $primary-color;
    font-weight: 900;
    font-size: 26px;
    img {
      width: 100%;
      max-width: 300px;
      @media (max-width: 1024px) {
        max-width: 200px;
        font-size: 14px;
        position: relative;
        top: 3px;
      }
      @media (max-width: 767px) {
        max-width: 180px;
        position: relative;
        top: 5px;
      }
    }
    a {
      color: $primary-color;
      text-decoration: none;
    }
  }

  .header-progress {
    @media (max-width: 767px) {
      display: none;
    }
  }

  .secureText {
    display: none;
    @media (max-width: 767px) {
      display: block;
    }
  }

  .menu--items {
    padding: 0 30px 0 0;
    @media (max-width: 767px) {
      display: none;
    }
    a {
      text-decoration: none;
      padding: 0 10px;
      color: #6a6a6a;
      transition: 0.3s;
      font-size: 14px;
      @media (max-width: 1024px) {
        padding: 0 5px;
      }
      &:hover,
      &.active {
        color: $primary-color;
      }
    }
  }

  .hamburger-icon {
    font-size: 30px;
    color: $primary-color;
    cursor: pointer;
    display: none;
    position: relative;
    right: 40px;
    @media (max-width: 767px) {
      display: block;
    }
  }
}

// mobile side menu
.mobile-side-menu {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 999;
  transition: 0.3s;
  transform: translate3d(-100%, 0, 0);
  &.open {
    transform: translate3d(0, 0, 0);
  }

  .click--outside {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: transparent;
  }

  .menu--wrapper {
    padding: 0;
    width: 225px;
    height: 100%;
    background: $primary-color;
    position: relative;
    z-index: 2;
  }

  .menu--items {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;

    a {
      padding: 15px 30px;
      text-decoration: none;
      line-height: 1.2;
      color: #fff;
      font-weight: 300;
      border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    }
  }
}

//footer
.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  height: 80px;
  align-items: center;
  @media (max-width: 767px) {
    flex-wrap: wrap;
    align-items: center;
    height: auto;
    position: relative;
    margin-top: 30px;
    padding-bottom: 15px;
  }

  &.landing {
    @media (max-width: 767px) {
      position: absolute;
      margin-top: 0;
      padding-bottom: 15px;
    }
  }

  li {
    list-style-type: none;
    padding: 0 10px;
    color: #6a6a6a;
    font-size: 13px;
    @media (max-width: 767px) {
      padding: 4px 10px;
    }

    &.hasLink {
      cursor: pointer;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

// progress mobile
.progress--mobile {
  padding: 0 30px;
  margin-top: 30px;
  @media (max-width: 767px) {
    margin-top: 0;
    padding-top: 85px;
  }
}

// flow
.section-flow {
  background: url("./../images/BG_Image.png");
  background-size: cover;
  background-position: bottom;
  padding: 0 20px;
  min-height: 100vh;

  @media (max-width: 767px) {
    padding-bottom: 100px;
  }

  @media (min-width: 768px) {
    //height: calc(100vh - 80px);
    display: flex !important;
    align-items: center;
    justify-content: center;
  }

  & > div {
    @media (max-width: 767px) {
      margin-top: 25px;
    }
  }

  .primary-heading {
    font-family: $secondary-font;
    color: $primary-color;
    margin-bottom: 20px;
    text-align: center;
    max-width: 618px;
    font-size: 40px;
    line-height: 55px;
    letter-spacing: 0.33px;
    font-weight: 300;
    @media (max-width: 767px) {
      font-size: 1.8rem;
      line-height: 28px;
    }
  }

  .primary-sub-heading {
    font-family: $primary-font;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.13px;
    text-align: center;
    -webkit-font-smoothing: antialiased;
    color: #343131;
    @media (max-width: 767px) {
      font-size: 1rem;
    }
  }

  form {
    max-width: 441px;
  }

  input,
  select {
    -webkit-appearance: none;
    margin: 0;
    font-family: $primary-font;
    font-size: 1rem !important;
    font-weight: 400;
    height: 55px;
    padding: 0 20px;
  }

  .MuiInputLabel-marginDense {
    margin-left: 15px;
    background: #fff;
    padding: 0 17px;
    font-size: 15px;
    color: $primary-text-color;
    font-family: $primary-font;
  }

  .MuiInputLabel-outlined.MuiInputLabel-marginDense {
    transform: translate(-14px, 20px) scale(1);
  }

  .MuiInputLabel-outlined.MuiInputLabel-shrink {
    transform: translate(14px, -6px) scale(0.75);
    font-size: 18px;
    color: $primary-text-color;
  }

  .MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline {
    //border-color: $primary-text-color !important;
  }

  .PrivateNotchedOutline-root-223,
  .MuiOutlinedInput-notchedOutline {
    padding: 28px;
    // border-color: #343131;
  }

  .primary-btn {
    background: $primary-color;
    box-shadow: none;
    padding: 12px 0;
    max-width: 100%;
    margin: 15px auto 0;
    display: block;
    float: none;
    font-family: $primary-font-light;
    color: #fff;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 13px;
    @media (max-width: 767px) {
      max-width: 400px;
    }

    &:hover {
      box-shadow: none;
      background: $secondary-color;
    }
  }

  .address {
    color: $primary-text-color;
    font-size: 14px;
    text-align: center;
    display: flex;
    justify-content: center;
    @media (max-width: 767px) {
      margin-top: 10px;
    }
    .edit {
      text-decoration: none;
      color: $primary-color;
      margin-left: 4px;
    }
  }

  .form-select {
    /* ************ start select *********** */
    @media (max-width: 767px) {
      margin-top: 12px;
      margin-bottom: 5px;
    }

    .MuiInputLabel-outlined {
      z-index: 999;
      transform: translate(25px, 20px) scale(1);
    }

    .MuiInputLabel-outlined.MuiInputLabel-shrink {
      transform: translate(25px, -6px) scale(0.75);
      padding: 0 20px;
      background: #fff;
      font-size: 17px;
    }

    .MuiOutlinedInput-root .MuiOutlinedInput-notchedOutline {
      border-color: $primary-text-color;
      border-width: 1px;
      padding-left: 26px;
    }

    .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
      border-color: $primary-text-color;
      border-width: 1px;
    }

    .MuiSelect-outlined.MuiSelect-outlined {
      background: #ffff;
    }

    .MuiOutlinedInput-input {
      padding: 18.5px 25px;
    }

    .MuiSelect-iconOutlined {
      right: 15px;
    }

    .MuiSelect-icon {
      top: calc(50% - 9px);
      color: rgb(196, 196, 196);
      transform: scale(1.5);
    }

    .MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline {
      border-color: $primary-text-color !important;
    }

    /* ************ end select *********** */
  }
}

// powerbill
.section-powerbill {
  background-image: url("./../images/BG_Image.png");
  background-size: cover;
  background-position: bottom;
  padding: 0 20px;
  min-height: 100vh;

  @media (max-width: 767px) {
    padding-bottom: 100px;
  }

  @media (min-width: 768px) {
    // height: calc(100vh - 80px);
    height: 100vh;
    display: flex !important;
    align-items: center;
    justify-content: center;
  }

  & > div {
    @media (max-width: 767px) {
      margin-top: 25px;
    }
  }

  .primary-heading {
    max-width: 800px;
    color: $primary-color;
    margin-bottom: 25px;
    text-align: center;
    font-size: 40px;
    font-weight: 300;
    line-height: 1.167;
    letter-spacing: 0em;
    font-family: $secondary-font;
    @media (max-width: 767px) {
      font-size: 1.8rem;
    }
  }

  input {
    color: #848484;
  }

  .cost {
    font-size: 18px;
    margin-bottom: 25px;
    font-family: $primary-font;
    color: $primary-text-color;
    letter-spacing: -0.5px;
  }

  .text {
    font-size: 16px;
    margin: 10px 0 10px;
    font-family: $primary-font;
    text-align: center;
    color: $primary-text-color;
  }

  /* ************ start select *********** */

  .MuiInputLabel-outlined {
    z-index: 999;
    transform: translate(25px, 20px) scale(1);
  }

  .MuiInputLabel-outlined.MuiInputLabel-shrink {
    transform: translate(25px, -6px) scale(0.75);
    padding: 0 20px;
    background: #fff;
    font-size: 17px;
  }

  .MuiOutlinedInput-root .MuiOutlinedInput-notchedOutline {
    border-color: $primary-text-color;
    border-width: 1px;
    padding-left: 26px;
  }

  .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
    border-color: $primary-color;
    border-width: 1px;
  }

  .MuiSelect-outlined.MuiSelect-outlined {
    background: #ffff;
  }

  .MuiOutlinedInput-input {
    padding: 18.5px 25px;
  }

  .MuiSelect-iconOutlined {
    right: 15px;
  }

  .MuiSelect-icon {
    top: calc(50% - 9px);
    color: rgb(196, 196, 196);
    transform: scale(1.5);
  }

  /* ************ end select *********** */

  .primary-btn {
    background: $primary-color;
    box-shadow: none;
    padding: 12px 0;
    max-width: 441px;
    margin: 0 auto;
    display: block;
    float: none;
    font-family: $primary-font-light;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 13px;
    color: #fff;
    @media (max-width: 767px) {
      max-width: 400px;
    }
    &:hover {
      box-shadow: none;
      background: $secondary-color;
    }
  }
}

.section-result {
  .primary-heading {
    color: $primary-color;
    font-weight: 900;
    font-size: calc(30px + 10 * ((100vw - 500px) / 1100));
    margin-bottom: 10px;
    text-align: center;
    max-width: 600px;
    line-height: 40px;
    @media (max-width: 767px) {
      font-size: 1.8rem;
    }
  }
  div {
    font-size: 18px;
    color: $primary-color;

    span {
      color: #6a6a6a;
    }
  }
}

//autocomplete
.suggestions-container {
  // border: 1px solid #e6e6e6;
  border: 2px solid $primary-color;
  border-radius: 8px;
  padding: 10px;
}

.MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline {
  border-color: $primary-color !important;
}

.suggestion {
  cursor: pointer;
  color: #a6a6a6;
  font-size: 15px;
  display: flex;
  align-items: flex-start;
  margin-bottom: 4px;
  &:hover {
    color: $primary-color;
  }
}

//home owners
.section-home-owners {
  .primary-heading {
    margin-bottom: 30px;
  }

  .home-owners-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .box--wrapper {
    display: flex;
    @media (max-width: 767px) {
      flex-direction: column;
      width: 100%;
    }
  }

  .box {
    width: 152px;
    height: 152px;
    margin: 0 5px;
    border: 1.5px solid #c4c4c4;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    @media (max-width: 767px) {
      flex-direction: column;
      width: 100%;
      height: auto;
      margin: 5px 0;
      flex-direction: row;
      justify-content: space-between;
      padding: 15px 20px;
      border: 1px solid #c4c4c4;
      & > span {
        display: flex;
      }
    }

    @media (min-width: 768px) {
      &:hover {
        transform: translate(0px, -5%);
        box-shadow: rgba(0, 0, 0, 0.15) 2px 2px 5px 0px;
        border-color: $primary-color;
        .text {
          color: #6a6a6a;
        }
      }
    }

    .text {
      display: block;
      text-align: center;
      font-size: 1rem;
      color: #a7a2a2;
      font-weight: 400;
      line-height: 1.5;
      letter-spacing: 0.00938em;
      transition: 0.3s;
      @media (max-width: 767px) {
        margin-left: 5px;
      }
    }
    .icon {
      font-size: 90px;
    }
    svg.mobile-icon {
      fill: #6a6a6a;
    }
  }
}

//providers
.section-providers {
  .list {
    max-width: 400px;
    margin: 0 auto;
    width: 100%;
    display: block;
  }

  .MuiSvgIcon-root {
    font-size: 1.2rem;
  }

  input {
    color: #343131;
  }

  .primary-btn {
    max-width: 400px;
  }

  li.list-button {
    list-style-type: none;
    border: 1px solid #343131;
    border-radius: 5px;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 15px 10px;
    cursor: pointer;
    transition: 0.3s;

    span {
      //color: #a6a6a6;
      font-size: 1rem;
      padding-left: 12px;
    }

    @media (min-width: 768px) {
      &:hover {
        transform: translate(0px, -5%);
        box-shadow: rgba(0, 0, 0, 0.15) 2px 2px 5px 0px;
        border-color: #000;
      }
    }

    &:hover {
      border-color: $primary-color;
    }

    .primary-btn {
      max-width: 100%;
      @media (max-width: 767px) {
        max-width: 400px;
      }
    }
  }
  div[aria-busy="true"] {
    text-align: center;
  }

  .MuiOutlinedInput-root.isCurrent .MuiOutlinedInput-notchedOutline {
    border-color: $primary-color !important;
  }
}

//roofshade
.section-roofshade {
  .primary-heading {
    margin-bottom: 30px;
    max-width: 670px;
  }

  .roofshade-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .box--wrapper {
    display: flex;
    @media (max-width: 767px) {
      flex-direction: column;
      width: 100%;
    }
  }

  .box {
    width: 152px;
    height: 152px;
    margin: 0 5px;
    border: 1.5px solid #c4c4c4;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    @media (max-width: 767px) {
      flex-direction: column;
      width: 100%;
      height: auto;
      margin: 5px 0;
      flex-direction: row;
      justify-content: space-between;
      padding: 6px 20px;
      min-height: 58.8px;
      border: 1px solid #c4c4c4;
      & > span {
        display: flex;
        align-items: center;
      }
    }

    @media (min-width: 768px) {
      &:hover {
        transform: translate(0px, -5%);
        box-shadow: rgba(0, 0, 0, 0.15) 2px 2px 5px 0px;
        border-color: $primary-color;
        .text {
          color: #6a6a6a;
        }
      }
    }

    .text {
      display: block;
      text-align: center;
      font-size: 1rem;
      color: #a7a2a2;
      font-weight: 400;
      line-height: 1.5;
      letter-spacing: 0.00938em;
      transition: 0.3s;
      @media (max-width: 767px) {
        margin-left: 10px;
      }
    }

    img.home {
      width: 100%;
      max-width: 80px;
      margin: 0 auto;
      float: none;
      @media (max-width: 767px) {
        max-width: 40px;
      }
      &.home-2,
      &.home-3 {
        @media (min-width: 768px) {
          position: relative;
          left: 10px;
        }
      }
    }

    svg.mobile-icon {
      fill: #6a6a6a;
    }
  }
}

//section phone
.section-phone {
  .primary-heading {
    line-height: 40px;
  }
  .h6 {
    max-width: 800px;
    margin-top: 25px;
    text-align: center;
    color: #a6a6a6;
    font-weight: 300;
    font-size: 14px;
  }
  span {
    font-weight: 400;
  }
  .MuiTextField-root {
    margin-top: 0;
  }
}

//modal
.MuiDialog-paperWidthSm {
  max-width: 800px !important;
  .model-list {
    margin: 0;
    padding: 0;
    li {
      list-style-type: none;
      font-weight: 400;
      line-height: 1.5;
      letter-spacing: 0.00938em;
      color: #6a6a6a;
      font-size: 1rem;
    }
  }
}

div.contact-modal-dialog {
  .MuiDialog-paperWidthSm {
    max-width: 400px !important;
  }
  .primary-btn {
    background: $primary-color;
    box-shadow: none;
    padding: 12px 0;
    max-width: 100%;
    display: block;
    float: none;
    font-family: $primary-font;
    color: #fff;
    text-transform: capitalize;
    font-size: 1rem;
    @media (max-width: 767px) {
      max-width: 400px;
    }

    &:hover {
      box-shadow: none;
      background: $secondary-color;
    }
  }
}

.MuiDialogTitle-root {
  border-bottom: 1px solid #e0e0e0;
}

.modalTitle h2 {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  cursor: pointer;
  span {
    color: $primary-color;
    font-family: $primary-font;
    font-weight: 300;
  }
}
