// color
$primary-color: #1b8ec1;
$secondary-color: #1e8ce3;
$primary-text-color: #343131;

$dark: #444444;
$green: #8ac33d;
$blue: #1b8ec1;
$light-blue: #e8f5f9;

//font
$primary-font: "SF Pro Text Regular", sans-serif;
$primary-font-light: "SF Pro Text", sans-serif;
$secondary-font: "SF Pro Display";

$roboto: "Roboto", sans-serif;
$poppins: "Poppins", sans-serif;

// H1
// Roboto Bold
// 68px

// H2
// Poppins Medium
// 31.6px

// Paragraph
// Poppins medium
// 21px
